---
layout: default
title: "Home"
---
<section class="slideshow-container">
    {% include slideshow.html %}
</section>
<section class="intro">
    <h1>Welcome to {{ site.title }}</h1>
    <p>We provide top-tier mechanical consultancy services. Explore our recent projects below.</p>
</section>
<section class="projects-overview">
    {% for project in site.projects %}
        <div class="project-preview">
            <a href="{{ project.url | relative_url }}">
                <img src="{{ project.image }}" alt="Image for {{ project.title }}">
                <div class="project-info">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</section>
